trial*
test*
.history/
.vscode/
build
debug*
*.dll
*.pyd
dll
experience.md
autosave
*.pdb
.*
md/*
!md/refactor_workflow0_status.md
!md/refactor_wf7*.md
test/
AMBind*
AMATrial*
config/
!src/manager/config/
!src/manager/config/**
!src/infrastructure/config/
!src/infrastructure/config/**
trashes/
