trial*
test*
.history/
.vscode/
/build/
debug*
*.dll
*.pyd
*.exe
*.obj
*.lib
*.exp
*.ilk
*.log
*.ipynb
dll
experience.md
autosave
*.pdb
.*
/dep/
/md/
/test/
/MD_ALL.md
/action.md
/improve.md
/plan.md
AMBind*
AMATrial*
/config/
!src/manager/config/
!src/manager/config/**
!src/infrastructure/config/
!src/infrastructure/config/**
trashes/
/task_md/
/logs/
/log/
src/foreign/**/target/
* copy.*
tmp.*
/bak/
bak.*
data/backup/
config